.trip-card {
  border-bottom: 1px solid #e5e5e0;
  padding: 16px;
  background-color: #faf9f5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header .icon {
  font-size: 22px;
  color: #333;
  cursor: pointer;
  margin-right: 12px;
}

.header .title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
}

.header .right {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  margin-left: auto; /* This pushes the edit icon to the complete right */
}

.trip-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trip-details {
  margin-left: 10px;
  flex-grow: 1;
}

.trip-details p {
  margin: 0;
  font-size: 20px;
  color: #666;
}

.trip-details strong {
  color: #333;
}

.menu-icon {
  font-size: 24px;
  color: #666;
  cursor: pointer;
}

.custom-menu {
  border-radius: 8px;
  padding: 8px 0;
  background-color: #faf9f5 !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.custom-menu .ant-menu-item {
  padding: 8px 20px;
  font-size: 14px;
  color: #333;
}

.custom-menu .ant-dropdown-menu-item:not(:last-child) {
  border-bottom: 1px solid #e5e5e0 !important;
  border-radius: none !important;
}

.custom-menu .ant-menu-item:hover {
  background-color: #f0f0f0;
}

.custom-menu .ant-menu-item .anticon {
  margin-right: 12px;
  color: #333;
  font-size: 20px !important;
  cursor: pointer;
}

.trip-date {
  margin-top: 10px;
  font-size: 12px;
  color: #aaa;
}

.custom-input {
  width: 50%;
}

.custom-input:disabled {
  border: none;
  box-shadow: none;
  background: none;
  padding: 0;
  outline: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}
